<div class="inputs-main-div" *ngIf="state">
    <form>
        <div class="inputs">
            <br>
            <input type="text" class="form form-control" placeholder="Şifre" #txtPassword>
            <br>
            <input type="text" class="form form-control" placeholder="Şifre Tekrar" #txtPasswordConfirm>
        </div>
        <button class="btn btn-primary"
            (click)="updatePassword(txtPassword.value,txtPasswordConfirm.value)">Güncelle</button>
    </form>
</div>
<div *ngIf="!state">
    <h3>Şifrenizi Değiştirme İşleminin Geçerlilik Süresi Dolmuştur. </h3>
</div>