 @import "../../../../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";


 * {
     box-sizing: border-box;
     border-radius: 2px;
 }

 body {
     overflow-x: hidden;
     box-sizing: border-box;
     max-width: 100%;
 }

 .admin-container {
     max-width: 100%;
     height: 50vh;
     border: 1px solid #555;
     background: #eee;
     //overflow-x: hidden;
     background-color: rgb(60, 106, 107);
 }

 .admin-sidebar {
     background-color: rgb(110, 119, 119);
     max-width: 30%;
     height: 100vh;
     //  display: flex;
     //  flex-direction: column;
     //  flex-grow: 1;
 }

 //  @media screen and (max-width:600px) {
 //      .sidebar {
 //          max-width: 70px;
 //      }
 //  }

 //  @media screen and (max-width:900px) {
 //      .sidebar {
 //          max-width: 170px;
 //      }
 //  }

 a {
     text-decoration: none;
     color: #eee;
 }