<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <form [formGroup]="frm" (ngSubmit)="onSubmit(frm.value)" class="row p-1">
            <div class="col-md-12 mx-auto">
                <label for="inputNameSurname" class="form-label">*Ad Soyad</label>
                <input type="text" formControlName="nameSurname"
                    [ngClass]="{'is-invalid': (Component['nameSurname'].touched || Component['nameSurname'].dirty) && Component['nameSurname'].errors}"
                    class="form-control" id="inputNameSurname">

                <small class="form-text text-danger"
                    *ngIf="submitted && Component['nameSurname'].errors?.required">Lütfen Ad
                    Soyadı Boş Geçmeyiniz!
                </small>
                <small class="form-text text-danger" *ngIf="submitted && Component['nameSurname'].errors?.minlength">Lütfen en az 2 karakter giriniz!
                </small>
            </div>

            <div class="col-md-12 mx-auto">
                <label for="inputUserName" class="form-label">*Kullanici Adi</label>
                <input type="text" formControlName="userName"
                    [ngClass]="{'is-invalid': (Component['userName'].touched || Component['userName'].dirty) && Component['userName'].errors}"
                    class="form-control" id="inputUserName">

                <small class="form-text text-danger" *ngIf="submitted && Component['userName'].errors?.required">Lütfen
                    Kullanıcı
                    Adı Giriniz.
                </small>
            </div>

            <div class="col-md-12 mx-auto">
                <label for="inputEmail" class="form-label">*Email</label>
                <input type="email" formControlName="email"
                    [ngClass]="{'is-invalid': (Component['email'].touched || Component['email'].dirty) && Component['email'].errors}"
                    class="form-control" id="inputEmail">

                <small class="form-text text-danger" *ngIf="submitted && Component['email'].errors?.required">Lütfen
                    E-mail Giriniz.</small>
            </div>

            <div class="col-md-12 mx-auto">
                <label for="inputPassword" class="form-label">*Şifre</label>
                <input type="password" formControlName="password"
                    [ngClass]="{'is-invalid': (Component['password'].touched || Component['password'].dirty) && Component['password'].errors}"
                    class="form-control" id="inputPassword">

                <small class="form-text text-danger" *ngIf="submitted && Component['password'].errors?.required">Lütfen
                    Şifrenizi Giriniz.
                </small>
            </div>

            <div class="col-md-12 mx-auto">
                <label for="inputPassword2" class="form-label">*Şifre Tekrar</label>
                <input type="password" formControlName="confirmPassword" class="form-control"
                    [ngClass]="{'is-invalid': (Component['confirmPassword'].touched || Component['confirmPassword'].dirty) && Component['confirmPassword'].errors}">

                <!-- <small class="form-text text-danger"
                    *ngIf="submitted && Component['confirmPassword'].errors?.required">Lütfen Şifrenizi Tekrardan
                    Giriniz.
                </small> -->
            </div>
            <div class="col-md-12 mt-2">
                <button type="submit" class="btn btn-primary">Kayıt Ol!</button>
            </div>
            <!-- <div class="col-12">
                <label for="inputAddress" class="form-label">Address</label>
                <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
            </div> -->
            <!-- <div class="col-12">
                <label for="inputAddress2" class="form-label">Address 2</label>
                <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
            </div> -->
        </form>
    </div>
    <div class="col-md-2"></div>
</div>