<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <form method="post" class="row p-1">
            <div class="col-md-12 mx-auto">
                <label for="inputNameSurname" class="form-label">*Ad Soyad</label>
                <input type="email" class="form-control" id="inputNameSurname">
                <small class="form-text text-danger">Lütfen Ad Soyad Giriniz.</small>
            </div>
            <div class="col-md-12 mx-auto">
                <label for="inputPassword" class="form-label">*Şifre</label>
                <input type="password" class="form-control" id="inputPassword">
                <small class="form-text text-danger">Lütfen Şifrenizi Giriniz.</small>
            </div>
            <div class="col-md-12 mx-auto">
                <label for="inputEmail" class="form-label">*Email</label>
                <input type="email" class="form-control" id="inputEmail">
                <small class="form-text text-danger">Lütfen E-mail Giriniz.</small>
            </div>
            <!-- <div class="col-12">
                <label for="inputAddress" class="form-label">Address</label>
                <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
            </div> -->
            <!-- <div class="col-12">
                <label for="inputAddress2" class="form-label">Address 2</label>
                <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
            </div> -->
            <div class="col-md-12 mx-auto">
                <label for="inputCity" class="form-label">*Şehir</label>
                <input type="text" class="form-control" id="inputCity">
                <small class="form-text text-danger">Lütfen Şehrinizi Giriniz.</small>
            </div>
            <div class="col-md-12 mx-auto mt-2">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck">
                    <label class="form-check-label" for="gridCheck">
                        Kabul Et
                    </label>
                </div>
            </div>
            <div class="col-md-12 mt-2">
                <button type="submit" class="btn btn-primary">Giriş Yap!</button>
            </div>
        </form>
    </div>
    <div class="col-md-2"></div>
</div>