.center {
    width: 200px;
}

ngx-file-drop:hover {
    background-color: #e3f2fd;
}

button {
    background-color: cadetblue;
    color: springgreen;
    padding: 8px 18px 8px 18px;
    border-radius: 5px;
    margin-left: 5px;
}