.active-link {
    color: rgb(139, 20, 100);
}

a {
    color: white;
    text-decoration: none;
}


// ul {
//     list-style: none;
//     padding: 0px;
//     margin: 5px 15px;
//     margin-top: 30px;
// }

// button {
//     background-color: #13c6cc;
//     border: none;
//     color: white;
//     padding: 10px 10px;
//     margin: 5px 0px;
//     text-align: center;
//     text-decoration: none;
//     display: inline-block;
//     font-size: 16px;
//     border-radius: 2px;
//     cursor: pointer;
//     min-width: 100%;
// }