
<mat-list role="list">
        <mat-list-item role="listitem"><a [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active-link"
                        routerLink="/admin">Dashboard</a></mat-list-item>

        <mat-list-item role="listitem"><a routerLinkActive="active-link"
                        routerLink="customers">Customers</a></mat-list-item>

        <mat-list-item role="listitem"><a routerLinkActive="active-link"
                        routerLink="products">Products</a></mat-list-item>

        <mat-list-item role="listitem"><a routerLinkActive="active-link" routerLink="orders">Orders</a></mat-list-item>

        <mat-list-item role="listitem"><a [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active-link"
                        routerLink="">Siteyi
                        Gör</a></mat-list-item>
</mat-list>