<div class="modal-header" style="height: 70px;">
    <h1 class="modal-title fs-5" id="staticBackdropLabel">Sepetiniz</h1>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <table class="table table-striped text-center">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Ürün Adı</th>
                <th scope="col">Fiyat</th>
                <th scope="col">Adet</th>
                <th scope="col">Kaldır</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of basketList;let i = index">
                <td>#</td>
                <td>{{item.name}}</td>
                <td>{{item.price}}</td>
                <td><input type="number" [value]="item.quantity" [(ngModel)]="item.quantity"
                        class="form-control form-control-md mx-auto w-50" min="1" data-id="{{item.basketItemId}}"
                        (change)="changeQuantity($event)">
                </td>
                <td>
                    <button type="button" #basketItem class="btn btn-danger"
                        (click)="deleteProduct(item.basketItemId,basketItem)">X</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-danger p-2 m-2" data-bs-dismiss="modal">Kapat</button>
    <button type="button" class="btn btn-success p-2 m-2">Alışverişi Tamamla</button>
</div>